<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.pawin.post.dao.PostDAO">
 	<select id="selectPostListTest" resultType="map">
 		SELECT
 			*
 		FROM
 			`post`
 	</select>
 	<select id="selectPostByPostIdUserId" resultType="com.pawin.post.model.Post" parameterType="map">
 		SELECT
 			`id`
			,`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
			AND
			`id` = #{postId}
 	</select>
 	
 	<select id="selectPostList"  resultType="com.pawin.post.model.Post">
 		SELECT
 			`id`
			,`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		ORDER BY `id` DESC 
 	</select>
 	
 	<select id="selectPostListByPostId" resultType="com.pawin.post.model.Post">
 	SELECT
 			`id`
			,`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`id` = #{postId}
 	</select>
 	
 	<select id="selectKeywordListByTitleStatusAnimalsArea" resultType="com.pawin.post.model.Post">
 		SELECT
 			`id`
			,`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`title` LIKE CONCAT('%', #{searchTitle}, '%')
			<if test="searchStatus != null">
			AND`status` = #{searchStatus}
			</if>
			<if test="searchAnimals != null">
			AND `animals` = #{searchAnimals}
			</if>
			<if test="searchArea != null">
			AND `area` = #{searchArea}
			</if>
		ORDER BY `id` DESC
			
 	</select>
 
 	
 	<insert id="insertPost" parameterType="map" useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO `post`
 		(
 			`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{title}
 			, #{content}
 			, #{animals}
 			, #{status}
 			, #{area}
 			, NOW()
 			, NOW()
 		)
 		
 	</insert>
 	<update id="updatePost" parameterType="map">
 		<selectKey keyColumn="id" order="AFTER" resultType="map" keyProperty="id">
 			SELECT
 				`id`
 			FROM
 				`post`
 			WHERE
 				`userId` = #{userId}
 				AND 
 				`id` = #{id}
 		</selectKey>
 		UPDATE `post`
 		SET
 			`userId` = #{userId}
			,`title` = #{title}
			,`content` = #{content}
			,`animals` = #{animals}
			,`status` = #{status}
			,`area` = #{area}
			,`updatedAt` = NOW()
 	</update>
 	
 	
 </mapper>