<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.pawin.post.dao.PostDAO">
 	<select id="selectPostListTest" resultType="map">
 		SELECT
 			*
 		FROM
 			`post`
 	</select>
 	<select id="selectFamilyPostListDesc" resultType="com.pawin.post.model.Post">
		SELECT
 			`id`
			,`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`status` = '목격'
			OR `status` = '실종'
			OR `status` = '찾음'
			OR `status` = '입양가능'
		ORDER BY
			`id` DESC
		LIMIT 10
 	</select>
 	<select id="selectAdoptPostListByPostId" resultType="com.pawin.post.model.Post">
		SELECT
			SELECT
 			`id`
			,`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`status` = '입양완료' 
			AND
			`id` = #{postId}	
 	
 	</select>
 	
 	<select id="selectAdoptPostList" resultType="com.pawin.post.model.Post">
 		SELECT
 			`id`
			,`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`status` = '입양완료'
 	</select>
 	<select id="selectStatusPostList" resultType="com.pawin.post.model.Post">
 		SELECT
 			`id`
			,`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`status` = '장난감'
			OR `status` = '옷'
			OR `status` = '기타'
 	</select>

 	<select id="selectPostByPostIdUserId" resultType="com.pawin.post.model.Post" parameterType="map">
 		SELECT
 			`id`
			,`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
			AND
			`id` = #{postId}
 	</select>
 	
 	<select id="selectPostList"  resultType="com.pawin.post.model.Post">
 		SELECT
 			`id`
			,`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		ORDER BY `id` DESC 
 	</select>
 	
 	<select id="selectPostListByPostId" resultType="com.pawin.post.model.Post">
 	SELECT
 			`id`
			,`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`id` = #{postId}
 	</select>
 	
 	<select id="selectKeywordListByTitleStatusAnimalsArea" resultType="com.pawin.post.model.Post">
 		SELECT
 			`id`
			,`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`title` LIKE CONCAT('%', #{searchTitle}, '%')
			<if test="searchStatus != null">
			AND`status` = #{searchStatus}
			</if>
			<if test="searchAnimals != null">
			AND `animals` = #{searchAnimals}
			</if>
			<if test="searchArea != null">
			AND `area` = #{searchArea}
			</if>
		ORDER BY `id` DESC
			
 	</select>
 	<select id="selectKeywordAdoptListByTitleStatusAnimals" resultType="com.pawin.post.model.Post">
 		SELECT
 			`id`
			,`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`title` LIKE CONCAT('%', #{searchTitle}, '%')
			<if test="searchAnimals != null">
			AND `animals` = #{searchAnimals}
			</if>
			AND `status` = '입양완료'
		ORDER BY `id` DESC
 	</select>
 	<select id="selectPostListByPostIdUserId"  resultType="com.pawin.post.model.Post">
 		SELECT
 			`id`
			,`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`id` = #{postId}
			AND `userId` = #{userId}
 	</select>
 	
 	
 	<insert id="insertPost" parameterType="map" useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO `post`
 		(
 			`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{title}
 			, #{content}
 			, #{animals}
 			, #{status}
 			, #{area}
 			, NOW()
 			, NOW()
 		)
 		
 	</insert>
 	<update id="updatePost" parameterType="map">
 		UPDATE `post`
 		SET
			`title` = #{title}
			,`content` = #{content}
			,`animals` = #{animals}
			,`status` = #{status}
			,`area` = #{area}
			,`updatedAt` = NOW()
		WHERE
 			`id` = #{postId}
 	</update>
 	
 	<delete id="deletePostByPostIdUserId" parameterType="map">
 		DELETE
 		FROM	
 			`post`
 		WHERE
 			`id` = #{postId}
 			AND `userId` = #{userId}
 	</delete>
 	
 </mapper>