<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.pawin.post.dao.PostImageDAO">
 	<insert id="insertImagePost" parameterType="map">
 		INSERT INTO `imagepath`
 		(
	 		`userId`
			,`imagePath`
			,`createdAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{imagePath}
 			, NOW()
 		)
 	</insert>
 
 </mapper>