<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.pawin.post.dao.PostDAO">
 	<select id="selectPostListTest" resultType="map">
 		SELECT
 			*
 		FROM
 			`post`
 	</select>
 	
 	<select id="selectPostList"  resultType="com.pawin.post.model.Post">
 		SELECT
 			`id`
			,`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		ORDER BY `id` DESC 
 	</select>
 	
 	<insert id="insertPost" parameterType="map" useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO `post`
 		(
 			`userId`
			,`title`
			,`content`
			,`animals`
			,`status`
			,`area`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{title}
 			, #{content}
 			, #{animals}
 			, #{status}
 			, #{area}
 			, NOW()
 			, NOW()
 		)
 		
 	</insert>
 	
 </mapper>