@charset "UTF-8";

#wrap {
	width: 1280px;
	height: auto;
	margin: auto;
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	color: black;
	/* border: 0.1px solid lightgray; */
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

.intro-bg {
	width: 1280px;
	height: 350px;
	margin: auto;
}

.line {
	width: 100%;
	border: 0.5px solid lightgray;
	display: block;
}

textarea {
	width: 800px;
	height: 600px;
	border: none;
	resize: none;
}

.create-box {
	border-top: 0.5px solid lightgray;
	border-right: 0.5px solid lightgray;
	border-left: 0.5px solid lightgray;
}

.list-box {
	border: 0.5px solid lightgray;
}

header {
	width: 1280px;
	margin: 400px;
}

.contents {
	height: auto;
}

.content-font {
	font-size: 14px !important;
}

.content-box {
	border: 0.2px solid lightgray;
	width: 550px;
	height: auto;
	margin: 30px;
	border-radius: 40px;
	background-color: white;
	box-shadow: 2px 2px 20px #c0c0c0;
}

.search-box {
	height: 100px;
}

.contents-box {
	height: auto;
}

.contents-parent-box {
	gap: 50px 10px;
	padding: 20px;
} /* 상자 사이 간격   상하 50px/좌우 10px */
.titleSearch {
	margin-left: 80px;
	border-radius: 10px;
}

.content-foot-box {
	border: 0.2px solid lightgray;
	border-radius: 10px;
	width: 150px;
	height: 50px;
}

.header-btn {
	border-radius: 10px;
}

.login {
	height: 600px;
}

footer {
	height: 300px;
	background-image: url("/static/image/footer2.jpg");
}

.copy-font {
	font-size: 18px;
}

.table-font {
	font-size: 21px;
}

.login-menu-icon {
	margin: auto;
	height: 86px;
	width: calc(1280px - 400px);
}

.nav>li {
	margin-left: 84px;
	font-size: 23px;
	margin-top: 40px;
}

.nav-box {
	width: 300px;
}

.input-boxs {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-info {
	border-radius: 20px;
	font-size: 21px;
}

.logInOut_click {
	font-size: 21px;
	color: #837b18;
}

.user-btn {
	border-radius: 20px;
	font-size: 25px;
	background-color: #ebd38d;
}

.check-btn {
	color: black;
	text-decoration: none;
	border-color: white;
	background-color: #ebd38d;
	border-radius: 20px;
	font-size: 20px;
}

.create-box input:focus {
	border-color: none;
	outline: none;
}

textarea:focus {
	outline: none;
}

.write-box {
	border: 0px;
}

.write-area {
	font-size: 25px;
}

.content-area {
	font-size: 30px;
}

.post-btn {
	width: 150px;
	background-color: #ebd38d;
}

.post-div {
	width: 800px;
	margin-left: 155px;
	margin-top: 50px;
}

#signInForm {
	height: auto;
	display: flex;
}
/* 메뉴 로고 css */
input[id="menuicon"] {
	display: none;
}

input[id="menuicon"]+label {
	display: block;
	width: 55px;
	height: 30px;
	position: relative;
	/* position:fixed;
	right: 0px;
	top:calc(50% - 25px);
	transition:all .35s; */
	cursor: pointer;
}

input[id="menuicon"]+label span {
	display: block;
	position: absolute;
	width: 100%;
	height: 5px;
	border-radius: 30px;
	background: #6d6d6d;
	transition: all .35s; /* 모션 */
}

/* 메뉴 로고 만들기 */
input[id="menuicon"]+label span:nth-child(1) {
	top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3) {
	bottom: 0;
}

input[id="menuicon"]:checked+label span:nth-child(1) {
	/* rotate(45deg): 45도로 회전한다  */
	top: 50%;
	transform: translatey(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2) {
	opacity: 0%
}

input[id="menuicon"]:checked+label span:nth-child(3) {
	bottom: 50%;
	transform: translatey(50%) rotate(-45deg);
}

.sidebar {
	width: 700px;
	height: 100%;
	background: #dedede;
	position: fixed; /* 스크롤 해도 고정 */
	top: 0%;
	right: -800px;
	z-index: 1; /* 우선순위 메뉴가 먼저 나오게 */
	transition: all .35s;
	opacity: 0.8;
}

input[id="menuicon"]:checked+label {
	z-index: 2;
}

input[id="menuicon"]:checked+label+div {
	right: 0;
}

.content-subject {
	font-size: 70px;
}

.menu_subject {
	font-size: 50px;
}

.menu_login_info {
	font-size: 30px;
}